<%= simple_form_for(@quiz) do |f| %>

<%= f.error_notification %>

    <div class="first"><%= f.input :name %></div>
    <%= f.association :customer, :label_method => :name, :value_method => :id, 
	:collection => @customers, :prompt => false %>
    <%= f.input :yt_id %>
    <%= f.input :reward %>
    <%= f.input :reward_exp %>
    <%= f.input :fb_page %>
    <%= f.input :landing_page %>
    <%= f.input :question %>
    <div class="last"># answers</div>

    <%= f.button :submit %>

<% end %>
