<% title "Qiuz: #{@quiz.name}" %>

<%= render :partial => "quizzes/shared/nav" %>
          
<!-- The content -->
<section id="content">

<h2><%= yield(:title) %></h2>

  <%= link_to "Wygeneruj 100 nowych kuponów", generate_codes_quiz_path(@quiz), :class => "button icon loop" if can? :generate_codes, @quiz%>
  <%= link_to "Pobierz dane zwycięzców", get_winners_quiz_url(@quiz, :format=>:csv), :class => "button icon arrowdown" %>
  <%= link_to "Pobierz kody", get_codes_quiz_url(@quiz, :format=>:csv), :class => "button icon arrowdown" %>

  <h2>Wykorzystane Kupony (<%= @quiz.wins_count %>/<%= @quiz.codes.size + @quiz.wins_count %>):</h2>

  <table class="datatable">
    <thead>
    <tr>
      <th>Kupon</th>
      <th>Email</th>
      <th>Data odebrania</th>
    </tr>
    </thead>

    <tbody>
    <% @quiz.wins.each do |c| %>
        <tr>
          <td><%= c.code %></td>
          <td><%= c.email %></td>
          <td><%= l c.created_at %></td>
        </tr>
    <% end %>
    </tbody>

  </table>


</section>

