<% title "Logowanie" %>

<%= render :partial => "users/shared/nav" %>

<!-- The content -->
<section id="content">

  <br /><br />

  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="first"><%= f.input :email, :required => false, :autofocus => true %></div>
    <div class="last"><%= f.input :password, :required => false %></div>
    <%#= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
    <%= f.button :submit, "Zaloguj", :class=>"primary" %>
<% end %>

</section>
