<%= simple_form_for(@ivideo) do |f| %>

    <%= f.error_notification %>

    <div class="inputs">
      <div class="first"><%= f.input :name %></div>
      <%= f.input :company_name %>
      <%= f.input :company_email %>
      <%= f.association :user, :label_method => :name, :value_method => :id,
                        :collection => @customers, :label => "Klient", :prompt => false %>
      <%= f.input :welcome_id1 %>
      <%= f.input :welcome_id2 %>
      <%= f.input :end_id1 %>
      <%#= f.input :end_id2 %>
      <%#= f.input :reward %>
      <%#= f.input :reward_short %>
      <%#= f.input :reward_exp %>
      <%#= f.input :instruction %>
      <%#= f.input :fb_page %>
      <%= f.input :landing_page %>
      <%= f.input :google_anal %>
      <%= f.input :custom_css %>
      <%= f.input :poster%>
      <%#= f.input :poster_end %>
      <%= f.input :background %>
      <%#= f.input :music%>
      <%= f.input :movies_type, :as=>:select, :collection => ["YouTube", "RTMP"] %>
      <div id="questions">
      <%= f.simple_fields_for :questions, @question do |q| %>
          <div class="question">
          <%= q.input :text %>
          <%= q.input :answer_1 %> <%= q.input :video1%>
          <%= q.input :answer_2 %> <%= q.input :video2%>
          <%= q.input :answer_3 %> <%= q.input :video3%>
          <%= q.input :answer_4 %> <%= q.input :video4%>
          <%= q.input :answer_5 %> <%= q.input :video5%>
          <%= q.input :answer_6 %> <%= q.input :video6%>
          <%= q.input :answer_7 %> <%= q.input :video7%>
          <%= q.input :answer_8 %> <%= q.input :video8%>
          <%= q.input :_destroy, :as=>:hidden, :input_html => {:class=>"destroy"} %>
          <%= link_to_function "Usuń", "$(this).parent('.question').hide();$(this).parent('.question').find('.destroy').val('true');" %>
          </div>
      <% end %>
      </div>
    </div>
  <%= add_question_link("Dodaj Pytanie", f)%>
    <div class="actions">
      <%= f.button :submit %>
    </div>

<% end %>
