<div class="question">
<%= pf.simple_fields_for :questions, question do |q| %>
  <p>
    <%= q.label :name, "Pytanie:" %>
    <%= q.input :text %>
    <%= q.input :answer_1 %> <%= q.input :video1%>
    <%= q.input :answer_2 %> <%= q.input :video2%>
    <%= q.input :answer_3 %> <%= q.input :video3%>
    <%= link_to_function "Usuń", "$(this).parent('.question').remove()" %>
  </p>
<% end %>
</div>