<!-- -------------------------------------------------------------------- poster -->

<div class="pane" id="poster">
  <%= image_tag @ivideo.poster.url || "vitalia/start.png" %>
  <div class="buttons">
    <a class="start" href="#"><%= image_tag "vitalia/button_start.png" %></a>
  </div>
</div>

<!-- -------------------------------------------------------------------- pytania -->

<div class="pane" id="questions" <%= "style='display:none'" if @ivideo.welcome_movie || @ivideo.poster.file? %>>
  <%= render :partial => "show_question", :collection => @ivideo.questions %>
</div>

<!-- -------------------------------------------------------------------- video -->

<div class="pane" id="video"  <%= "style='display:block'" if false %>>

  <div class="player">
    <div id="ytapiplayer">
      Potrzebujesz Flash Player i włączonej obsługi Java Script.
    </div>
  </div>

  <div id="buyNow"></div>

  <div class="buttons buttons_menu">
    <a class="once_again" href="#"><%= image_tag "vitalia/button_again.png" %></a>
    <a class="fb" target="_blank" href="http://www.facebook.com/sharer.php?u=http://vitalia.pl/index.php/mid/67/fid/1439&t=Vitalia"><%= image_tag "vitalia/button_fb.png" %></a>
    <a class="offer_for_you" target="_blank" href="#"><%= image_tag "vitalia/button_offer.png" %></a>
  </div>

</div>

<!-- -------------------------------------------------------------------- koniec -->

<div class="pane" id="finish">

  <%= image_tag @ivideo.poster.url || "vitalia/start.png"  %>

  <div class="buttons buttons_menu">
    <a class="once_again" href="#"><%= image_tag "vitalia/button_again.png" %></a>
    <a class="fb" target="_blank" href="http://www.facebook.com/sharer.php?u=http://vistula.edu.pl"><%= image_tag "vitalia/button_fb.png" %></a>
    <a class="offer_for_you" href="htpp://vistula.edu.pl"><%= image_tag "vitalia/button_offer.png" %></a>
  </div>

</div>

<!-- -------------------------------------------------------------------- audio -->

<!--<audio loop="loop" id="music">-->
  <!--<source src="/vitalia.mp3" type="audio/mp3"/>-->
<!--</audio>-->

<!-- -------------------------------------------------------------------- js -->

<script type="text/javascript">

  $(document).ready(function() {

    $.cookie("pll_ivgvq", null);
    $.cookie("pll_ivgvqf", null);

    $("#poster.pane").live("click", function() {
      $(this).hide();
      //    Start music playback
//      musicplayer = document.getElementById("music");
//      musicplayer.play();
      $("#video.pane").show();
    });

    $("#buyNow").live("click", function() {
     window.location = getOfferForYou();
    });

    function getOfferForYou(){
         list = $.cookie("pll_ivgvq").split(";").slice(1);
       if(list.indexOf("<%= @ivideo.questions[0].video1%>") >= 0 && list.indexOf("<%= @ivideo.questions[1].video2%>") >= 0 &&
        (list.indexOf("<%= @ivideo.questions[2].video1%>") >= 0 || list.indexOf("<%= @ivideo.questions[2].video3%>") >= 0) && list.indexOf("<%= @ivideo.questions[3].video1%>") >= 0)
       {
         link = "http://vitalia.pl/index.php/mid/67/fid/1439/tab/fitness";
       } else if (list.indexOf("<%= @ivideo.questions[2].video2%>") > 0 && list.indexOf("<%= @ivideo.questions[3].video2%>") > 0) {
         link = "http://vitalia.pl/index.php/mid/67/fid/1439/tab/diet";
       }else {
         link = "http://vitalia.pl/index.php/mid/67/fid/1439/tab/plusprogram";
       }
      return link;
     }


    $("#answer_links a").live("click", function() {
      $.cookie("pll_ivgvq", $.cookie("pll_ivgvq") + ";" + $(this).data("video-id"));
      question = $(this).parents(".question");
      next = $("#questions .question").eq(question.index() + 1);
      question.hide();
      if ($(next).length > 0) {
        $(next).show();
      } else {
        $("#questions").hide();
        $("#video.pane").addClass("answers").show();
        $("a.offer_for_you").attr("href", getOfferForYou());
        $(".buttons_menu").show();
      }
      return false;
    });


    var params = { allowScriptAccess: "always", autoplay: "true", allowFullScreen: "true", rel: 0, wmode: 'opaque' };
    var atts = { id: "myytplayer" };
    if ('<%= @ivideo.welcome_movie.present? %>' == "true") {
      swfobject.embedSWF("http://www.youtube.com/apiplayer?enablejsapi=1&version=3&playerapiid=welcome_player",
        "ytapiplayer", "600", "335", "8", null, null, params, { id: "welcome_player" });
    }

    $("#finish.pane, .buttons_menu .once_again").live("click", function() {
      if (!$("#finish.pane").is(':visible')) {
        $("#video.pane.answers").removeClass("answers");
        $("#finish.pane").hide();
        ytplayer.loadPlaylist(["<%= @ivideo.welcome_id2.presence || @ivideo.welcome_id1%>"]);
        $.cookie("pll_ivgvq", null);
      }
      else {
        $("#video.pane.answers").removeClass("answers");
        $("#finish.pane").hide();
        $.cookie("pll_ivgvq", "once-again");
        $("#video.pane").show();
      }
      $.cookie("pll_ivgvqf", null);
      $(".buttons_menu").hide();

//      musicplayer = document.getElementById("music");
//      musicplayer.currentTime = 0;
//      musicplayer.play();
    });
  });


  function onYouTubePlayerReady(playerId) {
    ytplayer = document.getElementById(playerId);
    ytplayer.addEventListener('onStateChange', 'goToQuestions');

    if ($.cookie("pll_ivgvq") == "once-again") {
      $(".buttons_menu").hide();
      ytplayer.loadPlaylist(["<%= @ivideo.welcome_id2.presence || @ivideo.welcome_id1 %>"]);
      $.cookie("pll_ivgvq", null);
    } else {
      ytplayer.loadPlaylist(["<%= @ivideo.welcome_id1 %>"]);
      list = $.cookie("pll_ivgvq").split(";").slice(1);
      list.push("<%= @ivideo.end_movie%>");
      ytplayer.loadPlaylist(list);
      $.cookie("pll_ivgvqf", "finish");
    }
    $("#buyNow").hide();
  }

  function goToQuestions(state) {
    if (state == 1 && ytplayer.getPlaylistIndex() == 4) {
      $("#buyNow").show();
    }

    if (state == 0) {
      if ($.cookie("pll_ivgvqf") == "finish") {
        $("#video.pane").hide();
        $("#questions.pane").hide();
        $(".buttons_menu").show();
//        document.getElementById("music").pause();
        $("#finish.pane").show();
      }
      else if (!$.cookie("pll_ivgvq") || $.cookie("pll_ivgvq") == "once-again") {
        $("#video.pane").hide();
        $(".welcome").hide();
        $("#questions.pane").show();
        $("#questions .question").first().show();
      }
    }
  }

  /**
   * jQuery Cookie plugin
   *
   * Copyright (c) 2010 Klaus Hartl (stilbuero.de)
   * Dual licensed under the MIT and GPL licenses:
   * http://www.opensource.org/licenses/mit-license.php
   * http://www.gnu.org/licenses/gpl.html
   *
   */
  jQuery.cookie = function (key, value, options) {

    // key and at least value given, set cookie...
    if (arguments.length > 1 && String(value) !== "[object Object]") {
      options = jQuery.extend({}, options);

      if (value === null || value === undefined) {
        options.expires = -1;
      }

      if (typeof options.expires === 'number') {
        var days = options.expires, t = options.expires = new Date();
        t.setDate(t.getDate() + days);
      }

      value = String(value);

      return (document.cookie = [
        encodeURIComponent(key), '=',
        options.raw ? value : encodeURIComponent(value),
        options.expires ? '; expires=' + options.expires.toUTCString() : '', // use expires attribute, max-age is not supported by IE
        options.path ? '; path=' + options.path : '',
        options.domain ? '; domain=' + options.domain : '',
        options.secure ? '; secure' : ''
      ].join(''));
    }

    // key and possibly options given, get cookie...
    options = value || {};
    var result, decode = options.raw ? function (s) {
      return s;
    } : decodeURIComponent;
    return (result = new RegExp('(?:^|; )' + encodeURIComponent(key) + '=([^;]*)').exec(document.cookie)) ? decode(result[1]) : null;
  };

</script>

