<%= javascript_include_tag "flowplayer-3.2.6.min" %>

<!-- -------------------------------------------------------------------- pytania -->

<div class="pane" id="questions" <%= "style='display:none'" if @ivideo.welcome_movie || @ivideo.poster.file? %>>
  <%= render :partial => "show_question", :collection => @ivideo.questions.order("position ASC")  %>
</div>

<!-- -------------------------------------------------------------------- video -->

<div class="pane" id="video"  <%= "style='display:block'" if true %>>

  <div class="player">
    <a id="container" href="mp4:<%= @ivideo.welcome_id1 %>">
      <%= image_tag @ivideo.poster.url %>
    </a>
  </div>

  <div id="buyNow"></div>

  <div class="buttons buttons_menu">
    <a class="once_again" href="#"><%= image_tag "vitalia/button_again.png" %></a>
    <a class="fb" target="_blank" href="http://www.facebook.com/sharer.php?u=http://vitalia.pl/index.php/mid/67/fid/1439&t=Vitalia"><%= image_tag "vitalia/button_fb.png" %></a>
    <a class="offer_for_you" target="_blank" href="#"><%= image_tag "vitalia/button_offer.png" %></a>
  </div>

</div>

<!-- -------------------------------------------------------------------- koniec -->

<div class="pane" id="finish">

  <%= image_tag @ivideo.poster.url || "vitalia/start.png" %>

  <div class="buttons buttons_menu">
    <a class="once_again" href="#"><%= image_tag "vitalia/button_again.png" %></a>
    <a class="fb" target="_blank" href="http://www.facebook.com/sharer.php?u=http://vitalia.pl/index.php/mid/67/fid/1439&t=Vitalia"><%= image_tag "vitalia/button_fb.png" %></a>
    <a class="offer_for_you" href="#"><%= image_tag "vitalia/button_offer.png" %></a>
  </div>

</div>


<!-- -------------------------------------------------------------------- js -->

<script type="text/javascript">

  $(document).ready(function() {

    $.cookie("pll_ivgvq", null);

    flowplayer("container", "/javascripts/flowplayer-3.2.7.swf", {

      plugins:  {
        controls: null,
        rtmp: {
          url: '/javascripts/flowplayer.rtmp-3.2.3.swf',
          netConnectionUrl: 'rtmp://s1ku393q1o83s1.cloudfront.net/cfx/st'
        }
      },

      clip: {
        provider: 'rtmp'
      },
      onBeforeFinish: endClip ,
      onPlaylistReplace: function() {
        alert("fgrr");
      }

    });


    $("#buyNow").live("click", function() {
      window.location = "http://fff.pl";
    });


    $("#answer_links a").live("click", function() {
      $.cookie("pll_ivgvq", $.cookie("pll_ivgvq") + ";" + $(this).data("video-id"));
      question = $(this).parents(".question");
      next = $("#questions .question").eq(question.index() + 1);
      question.hide();
      if ($(next).length > 0) {
        $(next).show();
      } else {
        $("#questions").hide();
        $("#video.pane").addClass("answers").show();
        $("a.offer_for_you").attr("href", "http://fff.pl");
        $(".buttons_menu").show();
        list = $.cookie("pll_ivgvq").split(";").slice(1);
        for (i = 0; i < list.length; i++) {
          list[i] = {url: 'mp4:' + list[i], duration:200}
        }
        list.push({url: 'mp4:<%= @ivideo.end_movie%>', duration:200});
        flowplayer("container", {src: "/javascripts/flowplayer-3.2.7.swf", wmode: 'opaque'}, {
          plugins:  {
            controls: null,
            rtmp: {
              url: '/javascripts/flowplayer.rtmp-3.2.3.swf',
              netConnectionUrl: 'rtmp://s1ku393q1o83s1.cloudfront.net/cfx/st'
            }
          },
          wmode: 'opaque',
          clip: {
            provider: 'rtmp',
            streams: list
          },
          onFinish: endClip1
        });
      }
      return false;
    });

    function endClip1() {
      alert(this.getClip()['url']);
      $("#video.pane").hide();
      $("#questions.pane").hide();
      $(".buttons_menu").show();
      $("#finish.pane").show();
    }

    function endClip() {
        $("#video.pane").hide();
        $(".welcome").hide();
        $("#questions.pane").show();
        $("#questions .question").first().show();
      }

    $("#finish.pane, .buttons_menu .once_again").live("click", function() {
      $("#finish.pane").hide();
      $("#video.pane").show();
      flowplayer("container", "/javascripts/flowplayer-3.2.7.swf", {
        plugins:  {
          controls: null,
          rtmp: {
            url: '/javascripts/flowplayer.rtmp-3.2.3.swf',
            netConnectionUrl: 'rtmp://s1ku393q1o83s1.cloudfront.net/cfx/st'
          }
        },

        clip: {
          provider: 'rtmp',
          streams: [
            { url: 'mp4:<%= @ivideo.welcome_id2 || @ivideo.welcome_id1%>', duration: 200 }
          ]
        },
        onBeforeFinish: endClip ,
        onPlaylistReplace: function() {
          alert("fgrr");
        }
      });
      $.cookie("pll_ivgvq", null);
      $(".buttons_menu").hide();

    });
  });


  /**
   * jQuery Cookie plugin
   *
   * Copyright (c) 2010 Klaus Hartl (stilbuero.de)
   * Dual licensed under the MIT and GPL licenses:
   * http://www.opensource.org/licenses/mit-license.php
   * http://www.gnu.org/licenses/gpl.html
   *
   */
  jQuery.cookie = function (key, value, options) {

    // key and at least value given, set cookie...
    if (arguments.length > 1 && String(value) !== "[object Object]") {
      options = jQuery.extend({}, options);

      if (value === null || value === undefined) {
        options.expires = -1;
      }

      if (typeof options.expires === 'number') {
        var days = options.expires, t = options.expires = new Date();
        t.setDate(t.getDate() + days);
      }

      value = String(value);

      return (document.cookie = [
        encodeURIComponent(key), '=',
        options.raw ? value : encodeURIComponent(value),
        options.expires ? '; expires=' + options.expires.toUTCString() : '', // use expires attribute, max-age is not supported by IE
        options.path ? '; path=' + options.path : '',
        options.domain ? '; domain=' + options.domain : '',
        options.secure ? '; secure' : ''
      ].join(''));
    }

    // key and possibly options given, get cookie...
    options = value || {};
    var result, decode = options.raw ? function (s) {
      return s;
    } : decodeURIComponent;
    return (result = new RegExp('(?:^|; )' + encodeURIComponent(key) + '=([^;]*)').exec(document.cookie)) ? decode(result[1]) : null;
  };

</script>

