<% title "Edytuj Profil" %>

<!-- Secondary navigation -->
<nav id="secondary">
  <ul>
    <li class="current"><%= link_to yield(:title), edit_customer_path(@customer) %></li>
  </ul>
</nav>
          
<!-- The content -->
<section id="content">

<h2><%= yield(:title)%></h2>

<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
      <%= render 'form' %>
      
</section>
