<% title "Klienci" %>

<!-- Secondary navigation -->
<nav id="secondary">
  <ul>
    <li class="current"><a href="<%= users_path%>"><%= yield(:title)%></a></li>
  </ul>
</nav>
          
<!-- The content -->
<section id="content">

  <h2><%= yield(:title)%></h2>

  <table class="datatable">
    <thead>
      <tr>
        <th>Klient</th>
        <th>Email</th>
        <th>Akcje</th>
      </tr>
    </thead>

    <tbody>
    <% @users.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.email %></td>
        <td>
          <span class="button-group">
            <%= link_to "Edytuj", edit_user_path(c), :class=>"button icon edit" %>
            <%= link_to "Usuń", "", :class=>"button icon remove danger" %>
          </span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</section>

