<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title><%= yield :title %> | VideoQuiz - Admin</title>

<%= stylesheet_link_tag "admin/reset", "admin/visualize", "admin/datatables", "admin/buttons", "admin/checkboxes", "admin/inputtags", "admin/main" %>
   
    <!--[if lt IE 9]>
    <%= stylesheet_link_tag "admin/ie" %>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

    <div id="gradient">
      <div id="stars">
        <div id="container" <%= is_login? %>>
        
          <header>
          
            <!-- Logo -->
            <h1 id="logo">VideoQuiz Admin</h1>
          
	    <% if user_signed_in? %>

            <!-- User info -->
            <div id="userinfo">
              <div class="intro">
                Witaj <%= current_user.name %> | <%= link_to "Wyloguj", destroy_user_session_path, :method => :delete %><br/>
                Pomoc: kontakt@filmpoint.pl | 604 099 886
              </div>
            </div>

           <% end %>
          
          </header>
        
          <!-- The application "window" -->
          <div id="application">
          
          <% if user_signed_in? %>

            <!-- Primary navigation -->
            <nav id="primary">
              <ul>

                <li <%= is_current?(:controller => 'quizzes', :action => 'index') %> >
                  <a href="/quizzes">
                    <span class="icon dashboard"></span>
                    <span class="badge"><%= Quiz.accessible_by(current_ability).count %></span>
                    Quizy
                  </a>
                </li>

                <% if can? :create, Quiz%>
                <li <%= is_current?(:controller => 'quizzes', :action => 'new') %> >
                  <a href="/quizzes/new">
                    <span class="icon pencil"></span>
                    Dodaj Quiz
                  </a>
                </li>
                <% end %>               
 
                <% if can? :read, User%>
                <li <%= is_current?(:controller => 'users', :action => 'index') %> >
                  <a href="/users">
                    <span class="icon tables"></span>
                    <span class="badge"><%= User.count %></span>
                    Klienci
                  </a>
                </li>
		<% end %>

                <% if can? :create, User %>
                <li <%= is_current?(:controller => 'users', :action => 'new') %> >
                  <a href="/users/new">
                    <span class="icon pencil"></span>
                    Dodaj Klienta
                  </a>
                </li>
                <% end %>               
 
                <li <%= is_current?(:controller => 'users', :action => 'edit') %> >
                  <a href="/users/<%= current_user.id %>/edit">
                    <span class="icon anchor"></span>
                    Edytuj Profil
                  </a>
                </li>
   
              </ul>
            </nav>

           <% end %>
          
          <%= yield %>

	  </div>
        
          <footer id="copyright"><%= raw t("footer") %></footer>

        </div>
      </div>
    </div>

<%= javascript_include_tag "admin/excanvas", "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js", "admin/jquery.visualize","rails.js", "admin/jquery.datatables", "admin/jquery.placeholder", "admin/jquery.selectskin", "admin/jquery.checkboxes", "admin/jquery.wymeditor", "admin/jquery.validate", "admin/jquery.inputtags", "admin/notifications", "admin/application" %>

    <%= yield :js %>

</body>
</html>
