<!DOCTYPE html>
<html>
<head>
  <title><%= @quiz.name %> - <%= @quiz.reward %></title>
  <%= stylesheet_link_tag "play/reset", "play/layout" %>
  <%#= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <!-- include the Tools -->
  <script src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js"></script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=239856742727148";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="play">
  <%= yield %>
</div>

</body>
</html>
