<!DOCTYPE html>
<html>
<head>
  <title>Interactive Video</title>
  <%= stylesheet_link_tag "play_ivideo/style" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" %>
  <style>
    <%= @ivideo.custom_css%>
    #questions {
     background-image:url(<%= @ivideo.background.url %>)
    }
  </style>
</head>
<body>

<%= yield %>


<div style="float:left; width:100%; margin-top:50px">

<p style="font-size:14px">Aplikację można umieścić na dowolnej stronie internetowej wklejając kod: <br />

<pre>&lt;iframe src="http://glowing-mountain-4157.heroku.com/ivideos/2/play" width="640" height="360" frameborder="0"&gt;&lt;/iframe&gt;</pre>

</p>

<br />

<p>Proponujemy jeszcze:</p>

<ul>
<li>- Podmianę zdjęcia Marty w planszy startowej (poniedziałek)</li>
<li>- Nałożenie na planszę startową przycisku "Play"</li>
<li>- Nałożenie w lewym dolnym rogu pomarańczowego przycisku "Aplikuj" z linkiem do vistula.edu.pl</li>
</ul>

</div>

</body>
</html>
